*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-size: 1rem;
}
header{
  height: 100px;
  background-color: red;
  font-size: 3rem;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
.scoreboard{
  background-color: red;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
}
.grid{
  max-width: 1200px;
  margin: 30px auto;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4,1fr);
}
.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}
.card:hover{
  opacity: 0.5;
}
@media(max-width:768px){
  .grid{
    max-width: 500px;
    grid-template-columns: repeat(3,1fr);
  }
}
@media(max-width:500px){
  header{
    font-size: 2rem;
  }
  .grid{
    grid-template-columns: repeat(3,1fr);
    max-width: 370px;
    gap: 5px;
  }
}
